mixin dropdown(options)
  -
    const {
      name,
      type,
      value,
      placeholder,
      rows = [],
      isExpanded,
      hasZIndexPriority,
    } = options || {};

  - const allowedTypes = ['guests', 'rooms'];

  - const blockModifiers = [];

  if isExpanded
    - blockModifiers.push('expanded');
  if hasZIndexPriority
    - blockModifiers.push('with-z-index-priority')
  if type
    - blockModifiers.push({ type })

  - const createBemClasses = require('../../utils/helpers.js').createBemClasses;
  - const blockName = 'dropdown';
  - const jsPrefix = 'js';

  - const jsTypeClass = type ? `js-${blockName}_type_${type}` : '';

  div(class=createBemClasses({ blockName, modifiers: blockModifiers, jsPrefix }) class=jsTypeClass)
    input(
      class=createBemClasses({ blockName, elementName: 'text-input', jsPrefix })
      title=(value || false)
      name=(name || false)
      value=(value || false)
      placeholder=(placeholder || false)
      type='text'
      readonly
    )
    button.dropdown__toggle-button.js-dropdown__toggle-button.material-icons(type='button')= 'keyboard_arrow_down'
    if rows.length > 0
      ul(class=createBemClasses({ blockName, elementName: 'list', jsPrefix }))
        each row in rows
          li(class=createBemClasses({ blockName, elementName: 'list-item', jsPrefix }))
            .dropdown__item-name= row.text
            .dropdown__counter-buttons
              - const decButtonModifiers = row.count < 1 ? ['disabled'] : [];
              - const decButtonClasses = createBemClasses({ blockName, elementName: 'counter-button', modifiers: decButtonModifiers, jsPrefix })
              - const incButtonClasses = createBemClasses({ blockName, elementName: 'counter-button', jsPrefix })
              button(class=decButtonClasses type='button').dropdown__counter-button_type_dec.js-dropdown__counter-button_type_dec= '-'
              span(class=createBemClasses({ blockName, elementName: 'counter', jsPrefix }))= row.count
              button(class=incButtonClasses type='button').dropdown__counter-button_type_inc.js-dropdown__counter-button_type_inc= '+'
        if type === 'guests'
          li.dropdown__footer-buttons
            span(class=createBemClasses({ blockName, elementName: 'clear-button', jsPrefix }))
              +button({
                theme: 'textual',
                type: 'button',
                caption: 'очистить',
                isHovered: true,
              })
            span(class=createBemClasses({ blockName, elementName: 'apply-button', jsPrefix }))
              +button({
                theme: 'textual',
                type: 'button',
                caption: 'применить',
              })