include ../label/label
include ../button/button
include ./select-box

mixin dropdown(options)
  - var f = require('../../js/functions.js')

  - var b = 'dropdown'
  - var js = 'js'

  -
    var {
      id,
      value = 'Выберите',
      zIndex = 9,
      rows = [],
      isExpanded,
      isEdited,
      isEmpty
    } = options || {}

  - var blockModifiers = []

  if isExpanded
    - blockModifiers.push('expanded')
  if isEdited
    - blockModifiers.push('edited')
  if isEmpty
    - blockModifiers.push('empty')

  div(id=id class=f.bem({b, m: blockModifiers, js}))
    label(class=f.bem({b, e: 'toggle', js}))
      span(class=`${b}__text`)= value
      i.material-icons= 'keyboard_arrow_down'
      input(class=`${b}__data-input` type='text' value=value)
    if rows.length > 0
      +select-box(options)