include ../label/label
include ../button/button
include ./select-box

mixin dropdown(options)
  - const f = require('../../js/functions.js')

  - const b = 'dropdown'
  - const js = 'js'

  - let blockModifiers = []

  -
    const {
      id,
      value = 'Выберите',
      zIndex = 9,
      rows = [],
      isExpanded,
      isEdited,
      isEmpty
    } = options || {}

  if isExpanded
    - blockModifiers.push('expanded')
  if isEdited
    - blockModifiers.push('edited')
  if isEmpty
    - blockModifiers.push('empty')

  div(id=id class=f.cls({b, m: blockModifiers, js}))
    label(class=f.cls({b, e: 'toggle', js}))
      span(class=f.cls({b, e: 'text'}))= value
      i(class=[...f.cls({b, e: 'arrow'}), 'material-icons'])= 'keyboard_arrow_down'
      input(class=f.cls({b, e: 'data-input'}) type='text' value=value)
    if rows.length > 0
      +select-box(options)