mixin dropdown(options)
  -
    const {
      id,
      type,
      value,
      rows = [],
      isExpanded,
      isEdited,
      isEmpty,
      withHiddenButtons,
      hasZIndexPriority,
    } = options || {};

  - const allowedTypes = ['guest', 'room'];

  - const blockModifiers = [];

  if isExpanded
    - blockModifiers.push('expanded');
  if isEdited
    - blockModifiers.push('edited');
  if isEmpty
    - blockModifiers.push('empty');
  if withHiddenButtons
    - blockModifiers.push('with-hidden-buttons');
  if hasZIndexPriority
    - blockModifiers.push('with-z-index-priority')

  - const createBemClasses = require('../../utils/helpers.js').createBemClasses;
  - const blockName = 'dropdown';
  - const jsPrefix = 'js';

  div(class=createBemClasses({ blockName, modifiers: blockModifiers, jsPrefix }))&attributes({ 'data-type': type })
    input(id=id class=createBemClasses({ blockName, elementName: 'input', jsPrefix }) type='text' value=value readonly)
    button.dropdown__toggle-button.js-dropdown__toggle-button.material-icons(type='button')= 'keyboard_arrow_down'
    if allowedTypes.includes(type) && rows.length > 0
      ul(class=createBemClasses({ blockName, elementName: 'menu', jsPrefix }))
        each row in rows
          li(class=createBemClasses({ blockName, elementName: 'menu-item', jsPrefix }))
            .dropdown__item-name= row.text
            .dropdown__count-buttons
              - const decButtonModifiers = row.count < 1 ? ['disabled'] : [];
              button.js-dropdown__change-count-button_type_dec(class=createBemClasses({ blockName, elementName: 'change-count-button', modifiers: decButtonModifiers, jsPrefix }) type='button' data-operator='-')= '-'
              span(class=createBemClasses({ blockName, elementName: 'count', jsPrefix }))= row.count
              button.js-dropdown__change-count-button_type_inc(class=createBemClasses({ blockName, elementName: 'change-count-button', jsPrefix }) type='button' data-operator='+')= '+'
        if type === 'guest'
          li.dropdown__footer-buttons
            span(class=createBemClasses({ blockName, elementName: 'clear-button', jsPrefix }))
              +button({
                theme: 'textual',
                color: 'gray',
                type: 'button',
                caption: 'очистить',
              })
            span(class=createBemClasses({ blockName, elementName: 'apply-button', jsPrefix }))
              +button({
                theme: 'textual',
                type: 'button',
                caption: 'применить',
              })