include ../label/label
include ../dropdown/dropdown

mixin datepicker-range(options)
  -
    const mask = 'ДД.ММ.ГГГГ'
    const {
      id='datepicker-range',
      theme,
      fromLabel = 'Прибытие',
      from = mask,
      toLabel = 'Выезд',
      to = mask,
    } = options || {}

    const createBemClasses = require('../../utils/helpers').createBemClasses;
    const blockName = 'datepicker-range';
    const jsPrefix = 'js';

    const jsClassTheme = theme ? `${jsPrefix}-${blockName}_theme_${theme}` : '';

  div(class=createBemClasses({ blockName, modifiers: [{ theme }], jsPrefix }) class=jsClassTheme)
    div(class=createBemClasses({ blockName, elementName: 'group', jsPrefix }))
      div(class=createBemClasses({ blockName, elementName: 'item', jsPrefix }))
        .datepicker-range__label
          +label({ label: fromLabel })
        div(class=createBemClasses({ blockName, elementName: 'dropdown', jsPrefix }))
          +dropdown({ name: `${id}_from`, value: from })
      div(class=createBemClasses({ blockName, elementName: 'item', jsPrefix }))
        .datepicker-range__label
          +label({ label: toLabel })
        div(class=createBemClasses({ blockName, elementName: 'dropdown', jsPrefix }))
          +dropdown({ name: `${id}_to`, value: to })
    div(class=createBemClasses({ blockName, elementName: 'datepicker-container', jsPrefix }))