include ../label/label
include ../dropdown/dropdown

mixin datepicker-range(options)
  -
    const mask = 'ДД.ММ.ГГГГ'
    const {
      id='datepicker-range',
      theme,
      fromLabel = 'Прибытие',
      from = mask,
      toLabel = 'Выезд',
      to = mask,
    } = options || {}

    const createBemClasses = require('../../utils/helpers').createBemClasses;
    const blockName = 'datepicker-range';
    const jsPrefix = 'js';

    const jsClassTheme = theme ? `${jsPrefix}-${blockName}_theme_${theme}` : '';

  div(class=createBemClasses({ blockName, modifiers: [{ theme }], jsPrefix }) class=jsClassTheme)
    div(class=createBemClasses({ blockName, elementName: 'dropdowns-group', jsPrefix }))
      - const fromInputId = `${id}__from-input`;
      div(class=createBemClasses({ blockName, elementName: 'dropdown-group-from', jsPrefix }))
        .datepicker-range__label
          +label({ label: fromLabel, _for: fromInputId})
        div(class=createBemClasses({ blockName, elementName: 'dropdown', jsPrefix }))
          +dropdown({ id: fromInputId, value: from })
      - const toInputId = `${id}__to-input`;
      div(class=createBemClasses({ blockName, elementName: 'dropdown-group-to', jsPrefix }))
        .datepicker-range__label
          +label({ label: toLabel, _for: toInputId })
        div(class=createBemClasses({ blockName, elementName: 'dropdown', jsPrefix }))
          +dropdown({ id: toInputId, value: to })
    div(class=createBemClasses({ blockName, elementName: 'datepicker-container', jsPrefix }))