include ../../form/label/label
include ../../dropdown/dropdown

mixin dropdown-date-range(id, from, to)
  - var blockName = 'dropdown-date-range'
  - const mask = 'ДД.ММ.ГГГГ'
  div(class=blockName)
    div(class=blockName + '__from')
      div(class=blockName + '__label')
        +label('Прибытие')
      div(class=blockName + '__dropdown')
        +dropdown({
          id: id + '__from-date',
          type: 'datepicker',
          value: from || mask
        })
    div(class=blockName + '__to')
      div(class=blockName + '__label')
        +label('Выезд')
      div(class=blockName + '__dropdown')
        +dropdown({
          id: id + '__to-date',
          type: 'datepicker',
          value: to || mask
        })