mixin input(options)
  - const blockName = 'input'
  - const modifiers = []
  -
    const {
      id,
      type = 'text',
      placeholder,
      value,
      withArrow,
      isHovered
    } = options || {}

  if withArrow
    modifiers.push(`${blockName}--with-arrow`)
  if isHovered
    - modifiers.push(`${blockName}--hovered`)

  div(class=blockName class=modifiers)
    input(
      id=id
      type=type
      class=`${blockName}__input`
      placeholder=placeholder
      value=value
    )
    button(class=`${blockName}__submit-button`)
      i(class=[`${blockName}__arrow`, 'material-icons'])= 'arrow_forward'