mixin input(options)
  - var b = 'input'
  - var blockModifiers = []
  -
    var {
      id,
      type = 'text',
      placeholder,
      value,
      withArrow,
      isHovered
    } = options || {}

  if withArrow
    - blockModifiers.push(`${b}--with-arrow`)
  if isHovered
    - blockModifiers.push(`${b}--hovered`)

  div(class=b class=blockModifiers)
    input(
      id=id
      type=type
      class=`${b}__input`
      placeholder=placeholder
      value=value
    )
    button(class=`${b}__submit-button`)
      i(class=[`${b}__arrow`, 'material-icons'])= 'arrow_forward'