mixin input(options)
  - const blockName = 'input'
  - const modifiers = []
  - const { id, placeholder, value, withArrow, hovered, type} = options

  if withArrow
    - modifiers.push(blockName + '--with-arrow')
  if hovered
    - modifiers.push(blockName + '--hovered')

  div(class=blockName class=modifiers)
    input(
      id=id
      type=(type || 'text')
      class=blockName + '__input'
      placeholder=placeholder
      value=value
    )
    button(class=blockName + '__submit-button')
      i(class=[blockName + '__arrow', 'material-icons'])= 'arrow_forward'