mixin input(options)
  -
    var {
      id,
      type = 'text',
      placeholder,
      value,
      withArrow,
      isHovered
    } = options || {}

  - var blockModifiers = []

  if withArrow
    - blockModifiers.push('with-arrow')
  if isHovered
    - blockModifiers.push('hovered')

  - var f = require('../../utils/functions')

  div(class=f.bem({
    b: 'input',
    m: blockModifiers
  }))
    input.input__input(id=id type=type placeholder=placeholder value=value)
    button.input__submit-button
      i.input__arrow.material-icons= 'arrow_forward'