mixin rate-button(options)
  - const blockName = 'rate-button'
  - const { id, base, rate, name = id } = options || {}

  div(class='rate-button' id=id)
    - let n = base
    while n > 0
      input(
        id=id + n
        type='radio'
        class=`${blockName}__radio`
        name=name
        value=n
        checked=(n === rate)
      )
      label(
        for=id + n
        class=`${blockName}__label`
      )= n
      - n = n - 1