include ../checkbox/checkbox

mixin checkbox-list-xp(id, label, options)
  - const blockName = 'checkbox-list-xp'

  - let modifiers = []
  - let items = []

  if options
    if options.expanded
      - modifiers.push(blockName+'--expanded')
    if options.items
      - items = options.items

  div(class=blockName class=modifiers id=id)
    div(class=blockName + '__select')
      span(class=blockName + '__label')= label
      i(class=[blockName + '__icon-down', 'material-icons'])= 'keyboard_arrow_down'
      i(class=[blockName + '__icon-up', 'material-icons'])= 'keyboard_arrow_up'
    ul(class=blockName + '__list')
      each item, index in items
        li(class=blockName + '__li' class='clearfix')
          +checkbox(
            id+'_'+item.name,
            item.label,
            item.checked
          )