mixin checkbox(id, label, checked)
  - var blockName = 'checkbox'
  div(class=blockName)
    input(
      id=id
      type='checkbox'
      class=blockName + '__input'
      checked=checked
    )
    label(
      class=blockName + '__label'
      for=id
    )= label