mixin input-t-checkbox(options)
  - var name = 'input-t-checkbox'
  div(class='input-t-checkbox')
    input(
      id=options.id
      type='checkbox'
      class=name + '__input'
      checked=options.checked
    )
    label(
      class=name + '__label'
      for=options.id
    )= options.label