mixin input-t-checkbox(id, label, checked)
  - var blockName = 'input-t-checkbox'
  div(class='input-t-checkbox')
    input(
      id=id
      type='checkbox'
      class=blockName + '__input'
      checked=checked
    )
    label(
      class=blockName + '__label'
      for=id
    )= label