include ../../input/input
include ../../button/button

mixin sign-in()
  - const blockName = 'sign-in'
  form(class=blockName)
    h1(class=[`${blockName}__title`, 'h1'])= 'Войти'
    div(class=`${blockName}__input`)
      +input({
        id: 'sign-in_email',
        placeholder: 'Email',
        type: 'email'
      })
    div(class=`${blockName}__input`)
      +input({
        id: 'sign-in_pass',
        placeholder: 'Пароль',
        type: 'password'
      })
    div(class=`${blockName}__login-button`)
      +button({
        theme: 'default',
        caption: 'Войти',
        withArrow: true,
        isFluid: true,
        href: 'login.html'
      })
    div(class=`${blockName}__create-account`)
      p(class=`${blockName}__hint`)= 'Нет аккаунта на Toxin?'
      div(class=`${blockName}__create-button`)
        +button({
          theme: 'transparent',
          caption: 'Создать',
          isFluid: true,
          href: 'registration.html'
        })