mixin button(options)
  -
    const {
      theme,
      size,
      caption,
      type,
      href,
      isHovered,
      isFluid,
      attr,
    } = options || {};

  - const blockModifiers = [{ theme }, { size }];

  if isHovered
    - blockModifiers.push('hovered');
  if isFluid
    - blockModifiers.push('fluid');

  - const f = require('../../utils/functions');
  - const isButton = ['button', 'submit'].includes(type);
  - const tag = isButton ? 'button' : 'a';

  #{tag}(class=f.bem({ b: 'button', m: blockModifiers }) type=type href=href)&attributes(attr)
    .button__inner
      span.button__caption= caption
      span.button__arrow.material-icons= 'arrow_forward'