mixin button(options)
  -
    const {
      theme,
      size,
      color,
      caption,
      type,
      href,
      isHovered,
      attr,
    } = options || {};

  - const blockModifiers = [{ theme }, { size }, { color }];

  if isHovered
    - blockModifiers.push('hovered');

  - const createBemClasses = require('../../utils/helpers').createBemClasses;
  - const isButton = ['button', 'submit', 'reset'].includes(type);
  - const tag = isButton ? 'button' : 'a';

  #{tag}(class=createBemClasses({ blockName: 'button', modifiers: blockModifiers }) type=type href=href)&attributes(attr)
    span.button__inner-wrapper
      span.button__caption= caption
      if theme === 'with-arrow'
        span.button__arrow.material-icons= 'arrow_forward'