mixin button(options)
  -
    const {
      theme,
      caption,
      type,
      href,
      isHovered,
      isFluid,
      isSmall,
      withArrow,
    } = options || {};

  - const blockModifiers = [theme];

  if isHovered
    - blockModifiers.push('hovered');
  if isFluid
    - blockModifiers.push('fluid');
  if isSmall
    - blockModifiers.push('small');
  if withArrow
    - blockModifiers.push('with-arrow');

  - const f = require('../../utils/functions');

  - const isButton = ['button', 'submit'].includes(type);
  - let tag = 'a';

  if isButton
    - tag = 'button';

  #{tag}(class=f.bem({b: 'button', m: blockModifiers}) type=type href=href)
    .button__inner
      span.button__caption= caption
      span.button__arrow.material-icons= 'arrow_forward'