include ../checkbox/checkbox

mixin checkbox-list-xp(options)
  - const blockName = 'checkbox-list-xp'
  - const { id, label, isExpanded, items = [] } = options || {}

  - let modifiers = []

  if isExpanded
    - modifiers.push(`${blockName}--expanded`)

  div(class=blockName class=modifiers id=id)
    h3(class=`${blockName}__select`)
      span(class=`${blockName}__label`)= label
      i(class=[`${blockName}__icon-down`, 'material-icons'])= 'keyboard_arrow_down'
      i(class=[`${blockName}__icon-up`, 'material-icons'])= 'keyboard_arrow_up'
    ul(class=`${blockName}__list`)
      each item, index in items
        li(class=[`${blockName}__li`, 'clearfix'])
          +checkbox({
            id: `${id}-${item.name}`,
            label: item.label,
            isChecked: item.isChecked
          })