include ../checkbox/checkbox

mixin checkbox-list-xp(options)
  - var { id, label, isExpanded, items = [] } = options || {}

  - var blockModifiers = []

  if isExpanded
    - blockModifiers.push('expanded')

  - var f = require('../../js/functions')
  - var js = 'js'

  div(id=id class=f.bem({
    b: 'checkbox-list-xp',
    m: blockModifiers,
    js
  }))
    h3(class=f.bem({
      b: 'checkbox-list-xp',
      e: 'toggle', 
      js
    }))
      span.checkbox-list-xp__label= label
      i.checkbox-list-xp__arrow.material-icons= 'keyboard_arrow_down'
    ul.checkbox-list-xp__list
      each item, index in items
        li.checkbox-list-xp__li
          +checkbox({
            id: `${id}-${item.name}`,
            label: item.label,
            isChecked: item.isChecked
          })