include ../checkbox/checkbox

mixin checkbox-list-xp(options)
  - var b = 'checkbox-list-xp'
  - var { id, label, isExpanded, items = [] } = options || {}

  - let blockModifiers = []

  if isExpanded
    - blockModifiers.push('expanded')

  - var f = require('../../js/functions')
  - var js = 'js'

  div(class=f.bem({b, m: blockModifiers, js}) id=id)
    h3(class=f.bem({b, e: 'toggle', js}))
      span(class=`${b}__label`)= label
      i(class=`${b}__arrow`).material-icons= 'keyboard_arrow_down'
    ul(class=`${b}__list`)
      each item, index in items
        li(class=`${b}__li`)
          +checkbox({
            id: `${id}-${item.name}`,
            label: item.label,
            isChecked: item.isChecked
          })