mixin checkbox-group(options)
  - var thisModifiers = []
  - var checkboxes = {}
  if options.modifiers
    - thisModifiers = options.modifiers.this || []
    - checkboxes = options.options || {}
  div(class='checkbox-group' class=thisModifiers)
    label(class='checkbox-group__label' for=options.id)= options.label
    each item, key in checkboxes
      div(class='checkbox-group__checkbox')
        input(class='checkbox-group__input-checkbox' type='checkbox' id=key checked=item.checked)
        label(class='checkbox-group__input-checkbox-label' for=key)= item.label