mixin checkbox-group(options)
  - var thisModifiers = []
  - var checkboxes = {}
  if options.modifiers
    - thisModifiers = options.modifiers.this || []
    - checkboxes = options.options || {}
  div(class='checkbox-group' class=thisModifiers)
    label(class='checkbox-group__label' for=options.id)= options.label
    each item, key in checkboxes
      - checkboxModifiers = []
      if item.disabled
        - checkboxModifiers.push('checkbox-group__checkbox--disabled')
      div(class='checkbox-group__checkbox' class=checkboxModifiers)
        input(class='checkbox-group__input' type='checkbox' id=key checked=item.checked disabled=item.disabled)
        label(class='checkbox-group__input-label' for=key)= item.label