mixin input-group(options)
  -
    var inpClasses = [
      options.type + '-input'
    ];
  if options.state
    inpClasses.push('text-input_' + options.state)

  div(class=options.type + '-input-group')
    label(for=options.id)
      span(class=['input-group-llabel', 'ui-card_text-label'])= options.llabel
      span(class=['input-group-rlabel', 'ui-card_text-label'])= options.rlabel
      div.clearfix
      input(class=inpClasses type=options.type id=options.id)