mixin input-select-group(options)
  - var thisModifiers = []
  - var selectOptions = []
  if options.modifiers
    - thisModifiers=options.modifiers.this
  if options.options
    - selectOptions = options.options
  div(class='input-select-group' class=thisModifiers)
    label(for=options.id)
      span(class=['input-select-group__llabel'])= options.llabel
      span(class=['input-select-group__rlabel'])= options.rlabel
      div.clearfix
    select(class='input-select' id=options.id)
      each val in selectOptions
        option= val