mixin rate-button(options)
  - var thisModifiers = []
  - var base = options.base || 5
  - var rate = options.rate || 0
  if options.modifiers
    - thisModifiers = options.modifiers.this || []
  div(class='rate-button' class=thisModifiers)
    - var n = base
    while n > 0
      - var inputId = options.name + n
      input(class='rate-button__radio' type='radio' name=options.name id=inputId value=n checked=n===rate)
      label(class='rate-button__label' for=inputId)= n
      - n--