include ../rating/rating

mixin room-thumbnail(options)
  -
    const {
      roomNumber,
      href='change-me',
      pricePerDay,
      feedbackCounter,
      rate,
      image,
      feature,
      hover,
    } = options || {};

    const blockModifiers = hover ? ['hovered'] : [];

    const helpers = require('../../utils/helpers');

    const createBemClasses = helpers.createBemClasses;
    const formatCurrency = helpers.formatCurrency;

    const blockName = 'room-thumbnail';

  article(class=createBemClasses({ blockName, modifiers: blockModifiers}))
    figure.room-thumbnail__carousel
      img(src=image.src alt=image.alt).room-thumbnail__carousel-image
      button(type='button' class=createBemClasses({ blockName, elementName: 'carousel-control', modifiers: [{ type: 'prev' }] }))
        span.material-icons= 'keyboard_arrow_left'
      button(type='button' class=createBemClasses({ blockName, elementName: 'carousel-control', modifiers: [{ type: 'next' }] }))
        span.material-icons= 'keyboard_arrow_left'
      div.room-thumbnail__carousel-indicators
        each inx in [0, 1, 2, 3]
          - const bemObj = { blockName, elementName: 'carousel-indicator'};
          - bemObj.modifiers = inx === 0 ? ['active'] : [];
          button(type='button' class=createBemClasses(bemObj))
    header.room-thumbnail__header
      a(href=href).room-thumbnail__number
        span.room-thumbnail__number-sign= '№'
        span.room-thumbnail__number-value= roomNumber
        if feature
          span.room-thumbnail__number-feature= feature
      .room-thumbnail__price-per-day
        span.room-thumbnail__cost!= formatCurrency({value: pricePerDay})
        |&nbsp;
        span.room-thumbnail__date-unit= 'в сутки'
    footer.room-thumbnail__footer
      .room-thumbnail__rate
        +rating({
          base: 5,
          rate,
        })
      p.room-thumbnail__feedback-counter
        span.room-thumbnail__feedback-counter-number= feedbackCounter
        |&nbsp;
        span.room-thumbnail__feedback-counter-text= 'Отзывов'