include ../rate-button/rate-button

mixin room-thumbnail(options)
  -
    const {
      roomNumber,
      href='change-me',
      pricePerDay,
      feedbackCounter,
      rate,
      images,
      feature,
      focus,
    } = options || {};

    const blockModifiers = focus ? ['focused'] : [];

    const f = require('../../utils/functions');
    const b = 'room-thumbnail';

  div(class=f.bem({b, m: blockModifiers}))
    figure.room-thumbnail__carousel
      each image, inx in images
        - const bemObj = {b, e: 'carousel-image'}
        - bemObj.m = inx === 0 ? ['active'] : [];
        img(class=f.bem(bemObj) src=image.src alt=image.alt)
      button(class=f.bem({
        b,
        e: 'carousel-control',
        m: [{ type: 'prev' }],
      }))
        span.material-icons= 'keyboard_arrow_left'
      button(class=f.bem({
        b,
        e: 'carousel-control',
        m: [{ type: 'next' }],
      }))
        span.material-icons= 'keyboard_arrow_left'
      ul.room-thumbnail__carousel-indicators
        each _, inx in images
          - const bemObj = {b, e: 'carousel-indicator'};
          - bemObj.m = inx === 0 ? ['active'] : [];
          li(class=f.bem(bemObj))
    header.room-thumbnail__header
      a(href=href).room-thumbnail__number
        span.room-thumbnail__number-sign= '№'
        span.room-thumbnail__number-value= roomNumber
        if feature
          h3.room-thumbnail__number-feature= feature
      .room-thumbnail__price-per-day
        span.room-thumbnail__cost!= f.formatCurrency({value: pricePerDay})
        |&nbsp;
        span.room-thumbnail__date-unit= 'в сутки'
    footer.room-thumbnail__footer
      .room-thumbnail__rate
        +rate-button({
          id: `${roomNumber}__rate`,
          base: 5,
          rate,
        })
      p.room-thumbnail__feedback-counter
        b= feedbackCounter
        |&nbsp;
        span= 'Отзывов'