include ../../rate-button/rate-button

mixin room-thumb(options)
  -
    var {
      roomNumber,
      href='change-me',
      pricePerDay,
      feedbackCounter,
      rate,
      images,
      feature,
      focus
    } = options || {}

    var blockModifiers = []
    var f = require('../../utils/functions')
    var b = 'room-thumb'

  if focus
    - blockModifiers.push('focus')

  div(class=f.bem({
    b,
    m: blockModifiers
  })).card
    figure.room-thumb__carousel-inner
      each image, inx in images
        - var bemObj = {b, e: 'carousel-image'}
        if inx === 0
          - bemObj.m = 'active'
        img(class=f.bem(bemObj) src=require(`./img/${image.src}`) alt=image.alt)
      div(class=f.bem({
        b,
        e: 'carousel-control',
        m: 'prev'
      }))
        i.material-icons= 'keyboard_arrow_left'
      div(class=f.bem({
        b,
        e: 'carousel-control',
        m: 'next'
      }))
        i.material-icons= 'keyboard_arrow_left'
      ul.room-thumb__carousel-indicators
        each _, inx in images
          - var bemObj = {b, e: 'carousel-indicator'}
          if inx === 0
            - bemObj.m = 'active'
          li(class=f.bem(bemObj))
    header.room-thumb__header
      a(href=href).room-thumb__number
        span.room-thumb__number-sign= '№'
        span.room-thumb__number-value= roomNumber
        h3.room-thumb__number-feature.h3.h3--purple= feature
      .room-thumb__price-per-day
        span.room-thumb__cost!= f.formatCurrency({value: pricePerDay})
        |&nbsp;
        span.room-thumb__date-unit= 'в сутки'
    footer.room-thumb__footer
      .room-thumb__rate
        +rate-button({
          id: `${roomNumber}__rate`,
          base: 5,
          rate
        })
      p.room-thumb__feedback-counter
        b= feedbackCounter
        |&nbsp;
        span= 'Отзывов'