include ../../form/rate-button/rate-button

mixin room-thumb(roomNumber, pricePerDay, feedbackCounter, rate, images, options)
  - const blockName = 'room-thumb'
  - let feature = ''
  - let modifiers = []
  if options
    if options.feature
      - feature = options.feature
    if options.focus
      - modifiers.push(blockName+'--focus')
  div(class=blockName class=modifiers)
    div(class=blockName+'__image-wrapper')
      each image, i in images
        img(class=blockName+'__image' src=require('../img/' + image))
      ul(class=blockName+'__slider')
        each image, i in images
          - let activeClass = blockName+'__slider-li--active'
          li(class=blockName+'__slider-li' class=i===0 ? activeClass : '')
            a(class=blockName+'__slider-a')
      a(class=[blockName + '__image-prev-btn', 'material-icons'] href='javascript:void(0)')= 'keyboard_arrow_down'
      a(class=[blockName + '__image-next-btn', 'material-icons'] href='javascript:void(0)')= 'keyboard_arrow_down'
    div(class=[blockName+'__headline', 'clearfix'])
      div(class=blockName+'__number')
        span(class=blockName + '__number-sign')= '№'
        span(class=blockName + '__number-value')= roomNumber
        h3(class=[blockName + '__number-feature', 'h3', 'h3--purple'])= feature
      div(class=[blockName + '__price-per-day', 'body'])
        span(class=blockName + '__cost')!= pricePerDay.toLocaleString('ru-RU') + '₽&nbsp;'
        span(class=blockName + '__date-unit')= 'в сутки'
    div(class=[blockName+'__footer', 'clearfix'])
      span(class=blockName+'__line')
      div(class=blockName+'__rate')
        +rate-button(roomNumber+'__rate', 5, rate)
      div(class=blockName+'__feedback-counter')
        span(class=blockName+'__counter')= feedbackCounter
        span(class=blockName+'__text')= 'Отзывов'