mixin toggle-button(options)
  - const b = 'toggle-button'
  - const { id, label, isChecked } = options || {}

  div(class=b)
    div(class=`${b}__toggle`)
      input(
        id=id
        class=`${b}__input`
        type='checkbox'
        checked=isChecked
      )
      label(
        for=id
        class=`${b}__label`
      )= label