mixin color-sample(options)
  - const b = 'color-sample'
  - const { color, title, hex } = options

  article(class=b class=`${b}--${color}`)
    figure(class=`${b}__rect`)
    h2(class=`${b}__title`)= title
    h3(class=`${b}__hex`)= hex