mixin color-sample(color, title, hex)
  - var blockName = 'color-sample'

  div(class=blockName class=blockName+'--'+color)
    div(class=blockName+'__rect')
    div(class=blockName+'__title')= title
    div(class=blockName+'__hex')= hex