include ../label/label
include ../dropdown/dropdown

mixin dropdown-date-range(options)
  - const blockName = 'dropdown-date-range'
  - const mask = 'ДД.ММ.ГГГГ'
  -
    const {
      id,
      fromLabel = 'Прибытие',
      from = mask,
      toLabel = 'Выезд',
      to = mask
    } = options || {}

  div(class=blockName)
    div(class=`${blockName}__from`)
      div(class=`${blockName}__label`)
        +label({
          label: fromLabel
        })
      div(class=`${blockName}__dropdown`)
        +dropdown({
          id: `${id}__from-date`,
          value: from
        })
    div(class=`${blockName}__to`)
      div(class=`${blockName}__label`)
        +label({
          label: toLabel
        })
      div(class=`${blockName}__dropdown`)
        +dropdown({
          id: `${id}__to-date`,
          value: to
        })