mixin text-input(options)
  -
    const {
      id,
      type = 'text',
      placeholder,
      value,
      withArrow,
      isHovered,
    } = options || {};

  - const blockModifiers = [];

  if withArrow
    - blockModifiers.push('with-arrow');
  if isHovered
    - blockModifiers.push('hovered');

  - const f = require('../../utils/functions')

  div(class=f.bem({
    b: 'text-input',
    m: blockModifiers,
  }))
    input.text-input__input(id=id type=type placeholder=placeholder value=value)
    button.text-input__submit-button
      span.text-input__arrow.material-icons= 'arrow_forward'