mixin text-input(options)
  -
    const {
      name,
      type = 'text',
      format,
      placeholder,
      value,
      withButton,
      hasDateMask,
      isHovered,
    } = options || {};

  - const modifiers = [];

  - modifiers.hovered = isHovered;
  - modifiers['has-mask'] = hasDateMask;
  if format
    - modifiers.format = format;

  - const jsHasDateMaskClass = hasDateMask ? 'js-text-input_has-mask' : '';

  - const bemFactory = require('../../utils/helpers').bemFactory;
  - const createBemClasses = bemFactory('text-input');

  span(class=createBemClasses({ modifiers }) class=jsHasDateMaskClass)
    input.text-input__field(name=name type=type placeholder=placeholder value=value)
    if withButton
      button.text-input__submit-button(type='submit')