mixin text-input(options)
  -
    const {
      id,
      type = 'text',
      theme,
      placeholder,
      value,
      isHovered,
    } = options || {};

  - const blockModifiers = [{ theme }];

  if isHovered
    - blockModifiers.push('hovered');

  - const f = require('../../utils/functions')

  div(class=f.bem({
    b: 'text-input',
    m: blockModifiers,
  }))
    input.text-input__input(id=id name=(name || id) type=type placeholder=placeholder value=value)
    button.text-input__submit-button(type='submit')
      span.text-input__arrow.material-icons= 'arrow_forward'