mixin text-input(options)
  -
    const {
      id,
      name,
      type = 'text',
      format,
      placeholder,
      value,
      withButton,
      isHovered,
    } = options || {};

  - const blockModifiers = isHovered ? ['hovered'] : [];

  if format
    - blockModifiers.push({ format });

  - const createBemClasses = require('../../utils/helpers').createBemClasses;

  span(class=createBemClasses({ blockName: 'text-input', modifiers: blockModifiers }))
    input.text-input__field(id=id name=(name || id) type=type placeholder=placeholder value=value)
    if withButton
      button.text-input__submit-button(type='submit')