include ../feature/feature
include ../feedback/feedback
include ../bullet-list/bullet-list
include ../room-book/room-book
include ../donut-chart/donut-chart
  
mixin room-details-page
  article.room-details-page
    figure.room-details-page__featured-images
      -
        const featuredImages = [
          { src: './img/room-details-left.png', alt: 'Primary Image' },
          { src: './img/room-details-top.png', alt: 'Secondary Image' },
          { src: './img/room-details-bottom.png', alt: 'Secondary Image' },
        ];
      each image in featuredImages
        img.room-details-page__featured-image(src=image.src alt=image.alt)
    .room-details-page__inner-wrapper
      .room-details-page__main
        section.room-details-page__info
          h2.room-details-page__info-title= 'Сведения о номере'
            -
              var features = [
                {
                  icon: 'mood',
                  title: 'Комфорт',
                  hint: 'Шумопоглощающие стены',
                },
                {
                  icon: 'location_city',
                  title: 'Удобство',
                  hint: 'Окно в каждой из спален',
                },
                {
                  icon: 'whatshot',
                  title: 'Уют',
                  hint: 'Номер оснащен камином',
                }
              ]
          ul.room-details-page__features-list
            each feature in features
              li.room-details-page__feature-item
                +feature(feature)
        section.room-details-page__rate
          h2.room-details-page__rate-title= 'Впечатления от номера'
          .room-details-page__donut-chart
            +donut-chart('donut-chart')
        section.room-details-page__feedbacks
          .room-details-page__feedbacks-header
            h2.room-details-page__feedbacks-title= 'Отзывы посетителей номера'
            span.room-details-page__feedbacks-counter= '2 отзыва'
          -
            const feedbacks = [
              {
                author: {
                  name: 'Мурад Сарафанов',
                  image: {
                    src: './img/murad.png',
                    alt: 'Фото автора'
                  }
                },
                date: '5 дней назад',
                text: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И&nbsp;стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.',
                favoritesCount: 12,
                isFavorite: true,
              },
              {
                author: {
                  name: 'Патрисия Стёклышкова',
                  image: {
                    src: './img/patricia.png',
                    alt: 'Фото автора'
                  }
                },
                date: 'Неделю назад',
                text: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент',
                favoritesCount: 2,
              },
            ]
          ul.room-details-page__feedbacks-list
            each feedback in feedbacks
              li.room-details-page__feedback-item
                +feedback(feedback)
        section.room-details-page__rules
          h2.room-details-page__rules-title= 'Правила'
          .room-details-page__bullet-list
            +bullet-list({
              id: 'bullet-list',
              items: [
                {text: 'Нельзя с питомцами'},
                {text: 'Без вечеринок и мероприятий'},
                {text: 'Время прибытия &mdash; после 13:00, а выезд до 12:00'},
              ],
            })
        section.room-details-page__cancel
          h2.room-details-page__cancel-title= 'Отмена'
          p.room-details-page__cancel-text
            = 'Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.'
      .room-details-page__sidebar
        section.room-details-page__room-book
          +room-book({
            roomNumber: 888,
            pricePerDay: 9990,
            discount: 2179,
            fee: 300,
            feature: 'люкс',
          })
