include ../label/label

mixin range-slider(options)
  - const { label = 'range slider', value, name, min, max, from, to } = options || {};

  .range-slider.js-range-slider
    +label({label: label})
    input.range-slider__input.js-range-slider__input(
      type='text'
      name=name
      value=value
      data-type='double'
      data-min=min
      data-max=max
      data-from=from
      data-to=to
    )
