include ../label/label
include ../../button/button

mixin dropdown(id, options)
  - const blockName = 'dropdown'

  - let modifiers = []
  - let type = 'empty'
  - let value = 'Выберите'

  if options
    if options.type
      - type = options.type
    if options.value
      - value = options.value
    if options.expanded
      - modifiers.push(blockName+'--expanded')
    if options.edited
      - modifiers.push(blockName+'--edited')
    if options.isEmpty
      - modifiers.push(blockName+'--empty')

  div(class=blockName class=modifiers data-type=type id=id)
    div(class=blockName+'__select')
      span(class=blockName+'__text')= value
      i(class=[blockName+'__icon', 'material-icons'])= 'keyboard_arrow_down'
      input(class=blockName+'__input' type='text' name=id value=value)
    if type === 'select-box'
      include dropdown-select-box