include ../label/label
include ../button/button

mixin dropdown(id, options)
  - var blockName = 'dropdown'
  - var modifiers = []
  - var data = []
  - var type = 'empty'
  - var value = 'Выберите'
  - var zIndex = 9

  if options
    if options.type
      - type = options.type
    if options.data
      - data = options.data
    if options.expanded
      - modifiers.push(blockName+'--expanded')
    if options.edited
      - modifiers.push(blockName+'--edited')
    if options.isEmpty
      - modifiers.push(blockName+'--empty')
    if options.value
      - value = options.value
    if options.zIndex
      - zIndex = options.zIndex

  div(class=blockName class=modifiers data-type=type id=id)
    div(class=blockName+'__select')
      span(class=blockName+'__text')= value
      i(class=[blockName+'__icon', 'material-icons'])= 'keyboard_arrow_down'
      input(class=blockName+'__input' type='text' name=id)
    if type === 'select-box'
      include dropdown-select-box