include ../label/label
include ../button/button

mixin dropdown(id, options)
  - var blockName = 'dropdown'
  - var modifiers = []
  - var data = []
  - var type = 'empty'
  - var emptyValue = 'Выберите'
  - var zIndex = 9

  if options
    if options.type
      - type = options.type
    if options.data
      - data = options.data
    if options.expanded
      - modifiers.push(blockName+'--expanded')
    if options.edited
      - modifiers.push(blockName+'--edited')
    if options.isEmpty
      - modifiers.push(blockName+'--empty')
    if options.emptyValue
      - emptyValue = options.emptyValue
    if options.zIndex
      - zIndex = options.zIndex

    if type === 'datepicker'
      - modifiers.push(blockName+'--with-datepicker')

  div(class=blockName class=modifiers data-type=type id=id)
    div(class=blockName+'__select')
      span(class=blockName+'__text')= emptyValue
      i(class=[blockName+'__icon', 'material-icons'])= 'keyboard_arrow_down'
      input(class=blockName+'__input' type='text' name=id)
    if type === 'json'
      ul(class=blockName+'__menu' style={'z-index': zIndex})
        each item in data
          li(class=blockName+'__li' class='clearfix' data-name=item.name)
            span(class=blockName+'__li-name')= item.text
            span(class=blockName+'__li-inc')= '+'
            span(class=blockName+'__li-count')= item.count
            span(class=blockName+'__li-dec')= '-'
        li(class=[blockName+'__li'] class='clearfix' data-actions)
          span(class=blockName+'__li-clear')
            +button(
              'textual',
              'очистить',
              {
                hover: true,
                attributes: {
                  'data-action': 'clear'
                }
              }
            )
          span(class=blockName+'__li-apply')
            +button(
              'textual',
              'применить',
              {
                attributes: {
                  'data-action': 'apply'
                }
              }
            )