include ../../label/label
include ../../dropdown/dropdown
include ../../button/button
include ../../dropdown-date-range/dropdown-date-range

mixin room-search()
  - const blockName = 'room-search'
  form(class=[blockName, 'clearfix'])
    h1(class=[`${blockName}__title`, 'h1'])= 'Найдём номера под ваши пожелания'
    div(class=[`${blockName}__date-range`, 'clearfix'])
      +dropdown-date-range({id: 'room-book__check-in-out'})
    div(class=`${blockName}__guests`)
      div(class=`${blockName}__label`)
        +label('Гости')
      div(class=`${blockName}__guests-dropdown`)
        +dropdown({
          id: 'guests',
          type: 'select-box',
          value: 'Сколько гостей',
          selectOptions: [
            {count: 0, text: 'взрослые', name: 'adult'},
            {count: 0, text: 'дети', name: 'kids'},
            {count: 0, text: 'младенцы', name: 'baby'}
          ]
        })
    div(class=`${blockName}__button`)
      +button({
        theme: 'default',
        caption: 'Подобрать номер',
        href: 'search-room-filter.html',
        withArrow: true,
        isFluid: true
      })