include ../../form/label/label
include ../../form/dropdown/dropdown
include ../../form/button/button

mixin room-search()
  - const blockName = 'room-search'
  div(class=[blockName, 'clearfix'])
    h1(class=[blockName+'__title', 'h1'])= 'Найдём номера под ваши пожелания'
    .clearfix
      div(class=blockName+'__check-in')
        div(class=blockName+'__label')
          +label('Прибытие')
        div(class=blockName+'__date-dropdown')
          +dropdown(
            'check-in-date',
            {
              type: 'datepicker',
              emptyValue: 'ДД.ММ.ГГГГ'
            }
          )
      div(class=blockName+'__check-out')
        div(class=blockName+'__label')
          +label('Выезд')
        div(class=blockName+'__date-dropdown')
          +dropdown(
            'check-out-date',
              {
                type: 'datepicker',
                emptyValue: 'ДД.ММ.ГГГГ'
              }
          )
    div(class=blockName+'__guests')
      div(class=blockName+'__label')
        +label('Гости')
      div(class=blockName+'__guests-dropdown')
        +dropdown(
          'guests',
          {
            type: 'select-box',
            emptyValue: 'Сколько гостей',
            data: [
              {count: 0, text: 'взрослые', name: 'adult'},
              {count: 0, text: 'дети', name: 'kids'},
              {count: 0, text: 'младенцы', name: 'baby'}
            ]
          }
        )
    div(class=blockName+'__button')
      +button(
        'default',
        'Подобрать номер',
        {withArrow: true}
      )