include ../../label/label
include ../../dropdown/dropdown
include ../../button/button
include ../../dropdown-date-range/dropdown-date-range

mixin room-search()
  - const b = 'room-search'
  form(class=[b, 'card'])
    h1(class=[`${b}__title`, 'h1'])= 'Найдём номера под ваши пожелания'
    div(class=[`${b}__date-range`])
      +dropdown-date-range({id: 'room-book__check-in-out'})
    div(class=`${b}__guests`)
      div(class=`${b}__label`)
        +label({
          label: 'Гости'
        })
      div(class=`${b}__guests-dropdown`)
        +dropdown({
          id: 'guests',
          value: 'Сколько гостей',
          rows: [
            {count: 0, text: 'взрослые', name: 'adult'},
            {count: 0, text: 'дети', name: 'kids'},
            {count: 0, text: 'младенцы', name: 'baby'}
          ]
        })
    div(class=`${b}__button`)
      +button({
        theme: 'default',
        caption: 'Подобрать номер',
        href: 'search-room-filter.html',
        withArrow: true,
        isFluid: true
      })