include ../label/label

mixin radio-button(options)
  - const b = 'radio-button'
  - const { id, name, value, label, isChecked } = options || {}

  div(class='radio-button')
    input(
      id=id
      type='radio'
      class=`${b}__input`
      name=name
      value=value
      checked=isChecked
    )
    label(
      for=id
      class=`${b}__label`
    )= label