include ../label/label

mixin radio-button(options)
  - var { id, name, value, label, isChecked } = options || {}

  .radio-button
    input.radio-button__input(id=id type='radio' name=name value=value checked=isChecked)
    label.radio-button__label(for=id)= label