include ../label/label
include ../dropdown/dropdown

mixin calendar(options)
  -
    const {
      theme,
      type = 'double',
      placeholder = 'дд.мм.гггг',
      labels = [],
      values = ['', ''],
    } = options || {}

    const createBemClasses = require('../../utils/helpers').createBemClasses;
    const blockName = 'calendar';
    const jsPrefix = 'js';

    const jsClassTheme = theme ? `${jsPrefix}-${blockName}_theme_${theme}` : '';

  div(class=createBemClasses({ blockName, modifiers: [{ theme }, { type } ], jsPrefix }) class=jsClassTheme)
    div(class=createBemClasses({ blockName, elementName: 'group', jsPrefix }))
      if type === 'double'
        div(class=createBemClasses({ blockName, elementName: 'item', jsPrefix }))
          if labels.length > 0
            .calendar__label
              +label({ label: labels[0] })
          div(class=createBemClasses({ blockName, elementName: 'dropdown', jsPrefix }))
            +dropdown({
              name: 'field-date-from',
              value: values[0],
              type: 'date',
              placeholder,
            })
        div(class=createBemClasses({ blockName, elementName: 'item', jsPrefix }))
          if labels.length > 1
            .calendar__label
              +label({ label: labels[1] })
          div(class=createBemClasses({ blockName, elementName: 'dropdown', jsPrefix }))
            +dropdown({
              name: 'field-date-to',
              value: values[1],
              type: 'date',
              placeholder,
            })
      if type === 'single'
        div(class=createBemClasses({blockName, elementName: 'item', jsPrefix}))
          if labels.length > 0
            .calendar__label
              +label({ label: labels[0] })
          div(class=createBemClasses({blockName, elementName: 'dropdown', jsPrefix}))
            +dropdown({
              name: 'date-filter',
              value: values,
              placeholder,
            })
    div(class=createBemClasses({ blockName, elementName: 'container', jsPrefix }))