mixin donut-chart(options)
  -
    const {
      votes = [
        { label: 'perfect', count: 130 },
        { label: 'satisfactorily', count: 65 },
        { label: 'good', count: 65 },
      ],
      gradientMap = {
        perfect: ['#FFE39C', '#FFBA9C'],
        good: ['#6FCF97', '#66D2EA'],
        satisfactorily: ['#BC9CFF', '#8BA4F9'],
        bad: ['#919191', '#3D4975'],
      },
      voteLabels = {
        perfect: 'Великолепно',
        good: 'Хорошо',
        satisfactorily: 'Удовлетворительно',
        bad: 'Разочарован',
      },
      width = 122,
      height = width,
      strokeWidth = 4,
    } = options || {};

  - const cx = width / 2;
  - const cy = width / 2;
  - const radius = cx - strokeWidth;
  - const circumreference = 2 * Math.PI * radius;

  - const sortedValues = votes.sort((a, b) => (b.count - a.count));
  - const total = sortedValues.reduce((acc, { count }) => acc + count, 0);

  - let angleOffset = 90;

  - const createBemClasses = require('../../utils/helpers').createBemClasses;
  - const blockName = 'donut-chart';
  - const jsPrefix = 'js';

  figure.donut-chart.js-donut-chart
    svg.donut-chart__chart(height=height width=width viewBox=[0, 0, width, height].join(' '))
      defs
        each grad, label in gradientMap
          linearGradient(id=label)
            stop(offset='0%' stop-color=grad[0])
            stop(offset='100%' stop-color=grad[1])
      each item in sortedValues
        - const strokeDashOffset = circumreference - (item.count / total) * circumreference;
        - const circleTransformValue = `rotate(${angleOffset}, ${cx}, ${cy})`;
        - angleOffset = (item.count / total) * 360 + angleOffset;
        g
          circle(
            class=createBemClasses({ blockName, elementName: 'circle', modifiers: [{ grade: item.label }], jsPrefix })
            cx=cx
            cy=cy
            r=radius
            fill='transparent'
            stroke=`url(#${item.label})`
            stroke-width=strokeWidth
            stroke-dasharray=circumreference - 2
            stroke-dashoffset=strokeDashOffset
            transform=circleTransformValue
          )
      g(class=createBemClasses({ blockName, elementName: 'count', jsPrefix }))
        text(class=createBemClasses({ blockName, elementName: 'count-value', jsPrefix }) x='50%' y='50%' text-anchor='middle')= total
        text.donut-chart__count-unit(x='50%' y='65%' text-anchor='middle')= 'голосов'

    ul.donut-chart__labels
      each label, grade in voteLabels
        - const countSourceItem = sortedValues.find(obj => obj.label === grade);
        - const count = countSourceItem !== undefined ? countSourceItem.count : '0';
        li(class=createBemClasses({ blockName, elementName: 'label', modifiers: [{ grade }], jsPrefix }) data-grade=grade data-count=count)
          span.donut-chart__bullet
          span.donut-chart__caption= label