mixin rate-button(id, base, rate, options)
  - const blockName = 'rate-button'
  div(class='rate-button' id=id)
    - let n = base
    while n > 0
      - const inputId = id + n
      input(
        id=inputId
        type='radio'
        class=blockName+'__radio'
        name=(options && options.name) ? options.name : id
        value=n
        checked=n===rate
      )
      label(
        for=inputId
        class=blockName+'__label'
      )= n
      - n = n - 1