include ../logo/logo
include ../button/button

mixin header(options)
  - const { theme, user, menuItems, menuButtons } = options || {};

  - const createBemClasses = require('../../utils/helpers').createBemClasses;
  - const blockName = 'header';
  - const jsPrefix = 'js';

  - const classTheme = theme ? `${blockName}_theme_${theme}` : '';

  header.header.js-header(class=classTheme)
    nav.header__inner-wrapper
      .header__logo
        +logo(true)
      button(class=createBemClasses({ blockName, elementName: 'burger', jsPrefix }) type='button').material-icons= 'menu'
      ul(class=createBemClasses({ blockName, elementName: 'navigation', jsPrefix }))
        each item, _ in menuItems
          li.header__navigation-item
            - const bemObj = { blockName, elementName: 'navigation-link'}
            if item.sub
              - bemObj.modifiers = [{ theme: 'with-submenu' }]
            a(class=createBemClasses(bemObj) href=item.href)
              if item.active
                b= item.name
              else
                = item.name
      if user
        ul.header__user-navigation.js-header__user-navigation.header__user-navigation_authenticated
          li.header__navigation-item
            a.header__navigation-link= user
      else
        ul.header__user-navigation.js-header__user-navigation
          each button, _ in menuButtons
            li.header__user-navigation-item
              +button({
                theme: button.theme,
                caption: button.caption,
                size: button.size,
                href: button.href,
              })