include ../logo/logo
include ../button/button

mixin header(options)
  - var { user, menuItems, menuButtons } = options || {}

  - var f = require('../../utils/functions')
  - var b = 'header'
  - var js = 'js'

  header.header.js-header
    nav.header__inner
      i(class=f.bem({b, e: 'nav-toggle', js})).material-icons= 'menu'
      figure.header__logo
        +logo(true)
      ul(class=f.bem({b, e: 'nav', js}))
        each item, _ in menuItems
          li.header__nav-item
            - var bemObj = {b, e: 'nav-link'}
            if item.sub
              - bemObj.m = 'has-submenu'
            a(class=f.bem(bemObj) href=item.href)
              if item.active
                b= item.name
              else
                = item.name
        if user
          li.header__nav-item.header__nav-item--account
            a.header__nav-link= user
        else
          each button, _ in menuButtons
            li(class=f.bem({b: 'header', e: 'nav-item', m: button.name}))
              +button({
                theme: button.theme,
                caption: button.caption,
                isSmall: button.isSmall,
                href: button.href
              })