include ../logo/logo
include ../button/button

mixin header(options)
  - const { user, menuItems, menuButtons } = options || {};

  - const f = require('../../utils/functions');
  - const b = 'header';
  - const js = 'js';

  header.header.js-header
    nav.header__inner-wrapper
      button(class=f.bem({b, e: 'navigation-toggle', js})).material-icons= 'menu'
      .header__logo
        +logo(true)
      ul(class=f.bem({b, e: 'navigation', js}))
        each item, _ in menuItems
          li.header__navigation-item
            - const bemObj = {b, e: 'navigation-link'}
            if item.sub
              - bemObj.m = [{ theme: 'with-submenu' }]
            a(class=f.bem(bemObj) href=item.href)
              if item.active
                b= item.name
              else
                = item.name
        li.header__navigation-item
          if user
            ul.header__user-navigation_authenticated
              li.header__navigation-item
                a.header__navigation-link= user
          else
            ul.header__user-navigation
              each button, _ in menuButtons
                li.header__navigation-item
                  +button({
                    theme: button.theme,
                    caption: button.caption,
                    size: button.size,
                    href: button.href,
                  })