include ../logo/logo
include ../button/button

mixin header(options)
  - const { user, menuItems, menuButtons } = options || {};

  - const f = require('../../utils/functions');
  - const b = 'header';
  - const js = 'js';

  header.header.js-header
    nav.header__inner
      button(class=f.bem({b, e: 'navigation-toggle', js})).material-icons= 'menu'
      figure.header__logo
        +logo(true)
      ul(class=f.bem({b, e: 'navigation', js}))
        each item, _ in menuItems
          li.header__navigation-item
            - const bemObj = {b, e: 'navigation-link'}
            if item.sub
              - bemObj.m = 'with-submenu'
            a(class=f.bem(bemObj) href=item.href)
              if item.active
                b= item.name
              else
                = item.name
        if user
          li.header__navigation-item.header__navigation-item--with-username
            a.header__navigation-link= user
        else
          each button, _ in menuButtons
            li(class=f.bem({b: 'header', e: 'navigation-item', m: `with-${button.name}`}))
              +button({
                theme: button.theme,
                caption: button.caption,
                isSmall: button.isSmall,
                href: button.href,
              })