include ../logo/logo
include ../button/button

mixin header(options)
  - const { user, menuItems, menuButtons } = options || {};

  - const bemFactory = require('../../utils/helpers').bemFactory;
  - const blockName = 'header';
  - const createBemClasses = bemFactory(blockName);
  - const withJsPrefix = true;

  header.header.js-header
    nav.header__navigation
      .header__logo
        +logo(true)
      button(class=createBemClasses({ elementName: 'burger', withJsPrefix }) type='button').material-icons= 'menu'
      ul(class=createBemClasses({ elementName: 'site-navigation', withJsPrefix }))
        each item, _ in menuItems
          li.header__site-navigation-item
            - const bemObj = { elementName: 'navigation-link'}
            if item.sub
              - bemObj.modifiers = { theme: 'with-submenu' };
            if item.active
              - bemObj.modifiers = { active: true };
            a(class=createBemClasses(bemObj) href=item.href)
                = item.name
      if user
        ul.header__user-navigation.js-header__user-navigation.header__user-navigation_authenticated
          li.header__user-navigation-item
            a.header__navigation-link= user
      else
        ul.header__user-navigation.js-header__user-navigation
          each button, _ in menuButtons
            li.header__user-navigation-item
              +button({
                theme: button.theme,
                caption: button.caption,
                size: button.size,
                href: button.href,
              })