include ../logo/logo
include ../button/button

mixin header(options)
  - const b = 'header'
  - const { user, menuItems, menuButtons } = options || {}

  nav(class=b)
    div(class=`${b}__inner`)
      i(class=[`${b}__nav-toggle`, 'material-icons'])= 'menu'
      figure(class=`${b}__logo`)
        +logo(true)
      ul(class=`${b}__nav`)
        each item, _ in menuItems
          - let navLinkClasses = [`${b}__nav-link`]
          li(class=`${b}__nav-item`)
            if item.sub
              - navLinkClasses.push(`${b}__nav-link--has-submenu`)
            a(class=navLinkClasses href=item.href)
              if item.active
                b= item.name
              else
                = item.name
        if user
          li(class=[`${b}__nav-item`, `${b}__nav-item--account`])
            a(class=`${b}__nav-link`)
              = user
        else
          each button, _ in menuButtons
            li(class=[`${b}__nav-item`, `${b}__nav-item--${button.name}`])
              +button({
                theme: button.theme,
                caption: button.caption,
                isSmall: button.isSmall,
                href: button.href
              })