include ../logo/logo
include ../../components/form/button/button

mixin header(user, menuItems, menuButtons)
  - const blockName = 'header'
  - let modifiers = []
  if user
    - modifiers.push(blockName+'--signed')
  // Default menu
  if !menuItems
    -
      menuItems = [
        {name: 'Home', href: 'javascript:void(0)', active: true},
        {name: 'About Us', href: 'javascript:void(0)'},
        {
          name: 'Services',
          sub: [
            {name: 'One One', href: 'javascript:void(0)'},
            {name: 'Two Two', href: 'javascript:void(0)'},
            {name: 'Three', href: 'javascript:void(0)'}
          ]
        },
        {name: 'Careers', href: 'javascript:void(0)'},
        {name: 'News', href: 'javascript:void(0)'},
        {name: 'Documentation', href: 'javascript:void(0)'}
      ]
  // Default buttons
  if !menuButtons
    -
      menuButtons = [
        {
          name: 'sign-up',
          theme: 'default',
          caption: 'Register'
        },
        {
          name: 'sign-in',
          theme: 'transparent',
          caption: 'Login'
        }
      ]
  header(class=[blockName, 'clearfix'] class=modifiers)
    nav(class=blockName+'__nav')
      div(class=blockName+'__menu-button')
      div(class=blockName+'__logo')
        +logo(null, true)
      div(class=blockName + '__account')
        if user
          = user
        else
          each button, _ in menuButtons
            div(class=blockName+'__button--'+button.name)
              +button(
                button.theme,
                button.caption,
                {small: true}
              )
      div(class=blockName+'__menu-wrapper')
        ul(class=[blockName+'__menu', 'clearfix'])
          each item, _ in menuItems
            - let active = ''
            - let hasDropdown = ''
            if item.active
              - active = blockName+'__menu-item--active'
            if item.sub
              - hasDropdown = blockName+'__menu-item--has-dropdown'
            li(class=blockName+'__menu-item' class=active class=hasDropdown)
              if item.sub
                a(class=blockName+'__menu-a' class=active href='javascript:void(0)')
                  span(class=blockName+'__dropdown-text')= item.name
                  i(class=[blockName+'__dropdown-arrow', 'material-icons'])= 'keyboard_arrow_down'
                ul(class=[blockName+'__menu', blockName+'__menu--is-sub'])
                  each _item, _ in item.sub
                    li(class=blockName+'__menu-item')
                      a(class=blockName+'__menu-a' href=_item.href)!= _item.name
              else
                a(class=blockName+'__menu-a' href=item.href)!= item.name
        i(class=[blockName+'__close-button', 'material-icons'])= 'close'