mixin toggle-button(id, _label, checked)
  - var blockName = 'toggle-button'
  div(class=blockName)
    div(class=blockName+'__toggle')
      input(
        id=id
        class=blockName+'__input'
        type='checkbox'
        checked=checked
      )
      label(
        for=id
        class=blockName+'__label'
      )= _label