include ../form/like-button/like-button

mixin feedback(options)
  - const blockName = 'feedback'
  - const { author, date, text, image, favoritesCount, isFavorite } = options || {}

  div(class=blockName)
    if image
      img(class=`${blockName}__image` src=require(`../../img/${image.src}`) alt=image.alt)
    div(class=`${blockName}__like-button`)
      +like-button(favoritesCount, isFavorite)
    h3(class=`${blockName}__author`)= author
    p(class=`${blockName}__date`)= date
    p(class=`${blockName}__text`)!= text