mixin checkbox(options)
  - const b = 'checkbox'
  - const { id, label, hint, isChecked } = options || {}

  - var blockModifiers = []

  if hint
    - blockModifiers.push(`${b}--has-hint`)

  div(class=b class=blockModifiers)
    input(
      id=id
      type='checkbox'
      class=`${b}__input`
      checked=isChecked
    )
    label(
      class=`${b}__label`
      for=id
    )= label
    if hint
      p(class=`${b}__hint`)!= hint
