mixin checkbox(options)
  - const { name, label, theme, hint, isChecked } = options || {};
  - const createBemClasses = require('../../utils/helpers').createBemClasses;

  span(class=createBemClasses({ blockName: 'checkbox', modifiers: [{ theme }] }))
    label.checkbox__label
      input.checkbox__input.js-checkbox__input(name=name type='checkbox' checked=isChecked)
      span.checkbox__caption= label
    if hint
      span.checkbox__hint!= hint
