mixin checkbox(options)
  - var { id, label, hint, isChecked } = options || {}

  - var blockModifiers = []

  if hint
    - blockModifiers.push('has-hint')

  - var f = require('../../js/functions')

  div(class=f.bem({
    b: 'checkbox',
    m: blockModifiers
  }))
    input(id=id type='checkbox' checked=isChecked).checkbox__input
    label(for=id).checkbox__label= label
    if hint
      p.checkbox__hint!= hint
