mixin checkbox(options)
  - const { id, label, hint, isChecked } = options || {};

  - const blockModifiers = [];

  if hint
    - blockModifiers.push('with-hint');

  - const f = require('../../utils/functions');

  div(class=f.bem({
    b: 'checkbox',
    m: blockModifiers
  }))
    input.checkbox__input(id=id type='checkbox' checked=isChecked)
    label.checkbox__label(for=id)= label
    if hint
      p.checkbox__hint!= hint
