mixin checkbox(options)
  - const blockName = 'checkbox'
  - const { id, label, hint, isChecked } = options || {}

  - let modifiers = []

  if hint
    - modifiers.push(`${blockName}--has-hint`)

  div(class=blockName class=modifiers)
    input(
      id=id
      type='checkbox'
      class=`${blockName}__input`
      checked=isChecked
    )
    label(
      class=`${blockName}__label`
      for=id
    )= label
    if hint
      p(class=`${blockName}__hint`)!= hint
