mixin checkbox(options)
  - const { id, name, label, theme, hint, isChecked } = options || {};
  - const f = require('../../utils/functions');

  div(class=f.bem({ b: 'checkbox', m: [{ theme }] }))
    input.checkbox__input(id=id name=(name || id) type='checkbox' checked=isChecked)
    label.checkbox__label(for=id)= label
    if hint
      p.checkbox__hint!= hint
