mixin checkbox(options)
  - var { id, label, hint, isChecked } = options || {}

  - var blockModifiers = []

  if hint
    - blockModifiers.push('with-hint')

  - var f = require('../../utils/functions')

  div(class=f.bem({
    b: 'checkbox',
    m: blockModifiers
  }))
    input.checkbox__input(id=id type='checkbox' checked=isChecked)
    label.checkbox__label(for=id)= label
    if hint
      p.checkbox__hint!= hint
