mixin checkbox(options)
  - const { name, label, theme, hint, isChecked } = options || {};
  - const bemFactory = require('../../utils/helpers').bemFactory;
  - const createBemClasses = bemFactory('checkbox');

  span(class=createBemClasses({ modifiers: { theme } }))
    label.checkbox__label
      input.checkbox__input.js-checkbox__input(name=name type='checkbox' checked=isChecked)
      span.checkbox__caption= label
    if hint
      span.checkbox__hint!= hint
