mixin bullet-list(options)
  - const b = 'bullet-list'
  - const { id, items } = options || {}

  ul(class=b id=id)
    each item, index in items
      li(class=`${b}__li`)
        div(class=`${b}__marker-wrapper`)
          span(class=`${b}__marker`)
        p(class=`${b}__text`)!= item.text
