mixin bullet-list(options)
  - const blockName = 'bullet-list'
  - const { id, items } = options || {}

  ul(class=blockName id=id)
    each item, index in items
      li(class=`${blockName}__li`)
        div(class=`${blockName}__marker-wrapper`)
          span(class=`${blockName}__marker`)
        p(class=`${blockName}__text`)= item.text
