include ../footer-menu-section/footer-menu-section
include ../logo/logo
include ../input/input

mixin footer(options)
  - const b = 'footer'
  -
    const {
      theme,
      menus = [
        {
          title: 'Navigation',
          links: [
            {text: 'About Us', href: '/change-me'},
            {text: 'News', href: '/change-me'},
            {text: 'Support', href: '/change-me'},
            {text: 'Products', href: '/change-me'}
          ]
        },
        {
          title: 'About Us',
          links: [
            {text: 'Who we are', href: '/change-me'},
            {text: 'Our team', href: '/change-me'},
            {text: 'Careers', href: '/change-me'},
            {text: 'Investors', href: '/change-me'}
          ]
        },
        {
          title: 'Support',
          links: [
            {text: 'Documentation', href: '/change-me'},
            {text: 'Community', href: '/change-me'},
            {text: 'Get in Touch', href: '/change-me'}
          ]
        }
      ],
      leftDescription = 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
      rightDescription = 'Receive our latest news and promotions in your inbox!',
      rightTitle = 'Subscribe&nbsp;to&nbsp;our&nbsp;newsletter',
      rightPlaceholder = 'Your email address',
      copyright = 'Copyright © 2018 Toxin UI Kit. All rights reserved.'
    } = options || {}

  - var blockModifiers = []

  if theme
    - blockModifiers.push(`${b}--${theme}`)


  div(class=b class=blockModifiers)
    hr(class=`${b}__row-divider`)
    div(class=`${b}__inner`)
      div(class=`${b}__header`)
        figure(class=`${b}__logo`)
          +logo(true)
        p(class=[`${b}__description`, 'body'])
          = leftDescription
      nav(class=`${b}__navbar`)
        each section, _ in menus
          section(class=`${b}__nav-section`)
            +footer-menu-section({
              title: section.title,
              menuItems: section.links
            })
      div(class=`${b}__subscribe`)
        h3(class=[`${b}__subscribe-title`, 'h3'])!= rightTitle
        p(class=[`${b}__subscribe-description`, 'body'])
          = rightDescription
        div(class=`${b}__subscribe-input`)
          +input({
            id: 'subscribe',
            placeholder: rightPlaceholder,
            withArrow: true,
            type: 'email'
          })
      p(class=[`${b}__copyright`, 'body'])= copyright
      section(class=`${b}__social`)
        - const socialLinkClass = `${b}__social-link`
        a(class=[socialLinkClass, `${socialLinkClass}--tw`] href='/change-me')
        a(class=[socialLinkClass, `${socialLinkClass}--fb`] href='/change-me')
        a(class=[socialLinkClass, `${socialLinkClass}--ig`] href='/change-me')