include ../footer-menu-section/footer-menu-section
include ../logo/logo
include ../form/input/input

mixin footer(options)
  - const blockName = 'footer'
  -
    const {
      theme,
      menus = [
        {
          title: 'Navigation',
          links: [
            {text: 'About Us', href: '/change-me'},
            {text: 'News', href: '/change-me'},
            {text: 'Support', href: '/change-me'},
            {text: 'Products', href: '/change-me'}
          ]
        },
        {
          title: 'About Us',
          links: [
            {text: 'Who we are', href: '/change-me'},
            {text: 'Our team', href: '/change-me'},
            {text: 'Careers', href: '/change-me'},
            {text: 'Investors', href: '/change-me'}
          ]
        },
        {
          title: 'Support',
          links: [
            {text: 'Documentation', href: '/change-me'},
            {text: 'Community', href: '/change-me'},
            {text: 'Get in Touch', href: '/change-me'}
          ]
        }
      ],
      leftDescription = 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
      rightDescription = 'Receive our latest news and promotions in your inbox!',
      rightTitle = 'Subscribe&nbsp;to&nbsp;our&nbsp;newsletter',
      rightPlaceholder = 'Your email address',
      copyright = 'Copyright © 2018 Toxin UI Kit. All rights reserved.'
    } = options || {}

  - let modifiers = []

  if theme
    - modifiers.push(`${blockName}--${theme}`)


  footer(class=blockName class=modifiers)
    div(class=[`${blockName}__inner`, 'clearfix'])
      div(class=[`${blockName}__top`, 'clearfix'])
        div(class=`${blockName}__left`)
          figure(class=`${blockName}__logo`)
            +logo(true)
          p(class=[`${blockName}__description`, 'body'])
            = leftDescription
          section(class=`${blockName}__social--creative`)
            a(class=[`${blockName}__icon`, `${blockName}__icon--tw`] href='/change-me')
            a(class=[`${blockName}__icon`, `${blockName}__icon--fb`] href='/change-me')
            a(class=[`${blockName}__icon`, `${blockName}__icon--ig`] href='/change-me')
        div(class=`${blockName}__center`)
          nav(class=`${blockName}__nav`)
            each section, _ in menus
              div(class=`${blockName}__nav-menu`)
                +footer-menu-section({
                  title: section.title,
                  menuItems: section.links
                })
        div(class=`${blockName}__right`)
          h3(class=[`${blockName}__subscribe-title`, 'h3'])!= rightTitle
          p(class=[`${blockName}__subscribe-description`, 'body'])
            = rightDescription
          div(class=`${blockName}__subscribe-input`)
            +input({
              id: 'subscribe',
              placeholder: rightPlaceholder,
              withArrow: true,
              type: 'email'
            })
      div(class=[`${blockName}__bottom`, 'clearfix'])
        p(class=[`${blockName}__copyright`, 'body'])= copyright
        section(class=`${blockName}__social`)
          a(class=[`${blockName}__icon`, `${blockName}__icon--tw`] href='/change-me')
          a(class=[`${blockName}__icon`, `${blockName}__icon--fb`] href='/change-me')
          a(class=[`${blockName}__icon`, `${blockName}__icon--ig`] href='/change-me')
    div(class=`${blockName}__hr`)