include ../logo/logo
include ../text-input/text-input

mixin footer(options)
  -
    const {
      theme,
      menus = [
        {
          title: 'Navigation',
          links: [
            {text: 'About Us', href: '/change-me'},
            {text: 'News', href: '/change-me'},
            {text: 'Support', href: '/change-me'},
            {text: 'Products', href: '/change-me'}
          ]
        },
        {
          title: 'About Us',
          links: [
            {text: 'Who we are', href: '/change-me'},
            {text: 'Our team', href: '/change-me'},
            {text: 'Careers', href: '/change-me'},
            {text: 'Investors', href: '/change-me'}
          ]
        },
        {
          title: 'Support',
          links: [
            {text: 'Documentation', href: '/change-me'},
            {text: 'Community', href: '/change-me'},
            {text: 'Get in Touch', href: '/change-me'}
          ]
        }
      ],
      leftDescription = 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
      rightDescription = 'Receive our latest news and promotions in your inbox!',
      rightTitle = 'Subscribe&nbsp;to&nbsp;our&nbsp;newsletter',
      rightPlaceholder = 'Your email address',
      copyright = 'Copyright © 2018 Toxin UI Kit. All rights reserved.',
    } = options || {};

  - const f = require('../../utils/functions');

  footer(class=f.bem({ b: 'footer', m: [ {theme }] }))
    hr.footer__horizontal-divider
    .footer__inner-wrapper
      .footer__header
        .footer__logo
          +logo(true)
        p.footer__description= leftDescription
      nav.footer__navigation
        each menu, _ in menus
          section.footer__navigation-section
            h3.footer__navigation-section-title= menu.title
            ul.footer__navigation-section-list
              each item, _ in menu.links
                li.footer__navigation-section-item
                  a.footer__navigation-section-link(href=item.href)= item.text
      form.footer__subscribe-form(method='POST' action='/')
        h3.footer__subscribe-form-title!= rightTitle
        p.footer__subscribe-form-description= rightDescription
        .footer__subscribe-form-input-group
          +text-input({
            id: 'email-text-input',
            name: 'email',
            placeholder: rightPlaceholder,
            withButton: true,
            type: 'email',
          })
      p.footer__copyright= copyright
      ul.footer__social-list
        li.footer__social-list-item
          a.footer__social-link.footer__social-link_theme_tw(href='/change-me' target='_blank' rel='noopener noreferrer')
        li.footer__social-list-item
          a.footer__social-link.footer__social-link_theme_fb(href='/change-me' target='_blank' rel='noopener noreferrer')
        li.footer__social-list-item
          a.footer__social-link.footer__social-link_theme_ig(href='/change-me' target='_blank' rel='noopener noreferrer')