include ../footer-menu/footer-menu
include ../logo/logo
include ../input/input

mixin footer(options)
  -
    var {
      theme,
      menus = [
        {
          title: 'Navigation',
          links: [
            {text: 'About Us', href: '/change-me'},
            {text: 'News', href: '/change-me'},
            {text: 'Support', href: '/change-me'},
            {text: 'Products', href: '/change-me'}
          ]
        },
        {
          title: 'About Us',
          links: [
            {text: 'Who we are', href: '/change-me'},
            {text: 'Our team', href: '/change-me'},
            {text: 'Careers', href: '/change-me'},
            {text: 'Investors', href: '/change-me'}
          ]
        },
        {
          title: 'Support',
          links: [
            {text: 'Documentation', href: '/change-me'},
            {text: 'Community', href: '/change-me'},
            {text: 'Get in Touch', href: '/change-me'}
          ]
        }
      ],
      leftDescription = 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
      rightDescription = 'Receive our latest news and promotions in your inbox!',
      rightTitle = 'Subscribe&nbsp;to&nbsp;our&nbsp;newsletter',
      rightPlaceholder = 'Your email address',
      copyright = 'Copyright © 2018 Toxin UI Kit. All rights reserved.'
    } = options || {}

  - var blockModifiers = []

  if theme
    - blockModifiers.push(theme)

  - var f = require('../../js/functions')

  div(class=f.bem({
    b: 'footer',
    m: blockModifiers
  }))
    hr.footer__row-divider
    .footer__inner
      .footer__header
        figure.footer__logo
          +logo(true)
        p.footer__description.body= leftDescription
      nav.footer__navbar
        each menu, _ in menus
          section.footer__nav-section
            +footer-menu({
              title: menu.title,
              menuItems: menu.links
            })
      .footer__subscribe
        h3.footer__subscribe-title.h3!= rightTitle
        p.footer__subscribe-description.body= rightDescription
        .footer__subscribe-input
          +input({
            id: 'subscribe',
            placeholder: rightPlaceholder,
            withArrow: true,
            type: 'email'
          })
      p.footer__copyright.body= copyright
      section.footer__social
        a.footer__social-link.footer__social-link--tw(href='/change-me')
        a.footer__social-link.footer__social-link--fb(href='/change-me')
        a.footer__social-link.footer__social-link--ig(href='/change-me')