include ../logo/logo
include ../text-input/text-input

mixin footer(options)
  -
    const {
      theme,
      menus = [
        {
          title: 'Navigation',
          links: [
            {text: 'About Us', href: '/change-me'},
            {text: 'News', href: '/change-me'},
            {text: 'Support', href: '/change-me'},
            {text: 'Products', href: '/change-me'}
          ]
        },
        {
          title: 'About Us',
          links: [
            {text: 'Who we are', href: '/change-me'},
            {text: 'Our team', href: '/change-me'},
            {text: 'Careers', href: '/change-me'},
            {text: 'Investors', href: '/change-me'}
          ]
        },
        {
          title: 'Support',
          links: [
            {text: 'Documentation', href: '/change-me'},
            {text: 'Community', href: '/change-me'},
            {text: 'Get in Touch', href: '/change-me'}
          ]
        }
      ],
      leftDescription = 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
      rightDescription = 'Receive our latest news and promotions in your inbox!',
      rightTitle = 'Subscribe to our newsletter',
      rightPlaceholder = 'Your email address',
      copyright = 'Copyright © 2018 Toxin UI Kit. All rights reserved.',
    } = options || {};

  - const createBemClasses = require('../../utils/helpers').createBemClasses;

  footer(class=createBemClasses({ blockName: 'footer', modifiers: [ {theme }], jsPrefix: 'js' }))
    .footer__main-area
      .footer__inner-wrapper
        .footer__about-us
          .footer__logo
            +logo(true)
          p.footer__description= leftDescription
        nav.footer__navigation
          each menu, _ in menus
            section.footer__navigation-section
              header.footer__section-header
                p.footer__navigation-section-title= menu.title
              ul.footer__navigation-section-list
                each item, _ in menu.links
                  li.footer__navigation-section-item
                    a.footer__navigation-section-link(href=item.href)= item.text
        form.footer__subscription-form(method='POST' action='/')
          header.footer__section-header
            p.footer__subscription-form-title!= rightTitle
          p.footer__subscription-form-description= rightDescription
          .footer__text-input
            +text-input({
              name: 'email',
              placeholder: rightPlaceholder,
              withButton: true,
              type: 'email',
            })
    .footer__bottom-area
      .footer__inner-wrapper
        p.footer__copyright= copyright
        ul.footer__social-list
          li.footer__social-list-item
            a.footer__social-link.footer__social-link_theme_tw(href='/change-me' target='_blank' rel='noopener noreferrer')
          li.footer__social-list-item
            a.footer__social-link.footer__social-link_theme_fb(href='/change-me' target='_blank' rel='noopener noreferrer')
          li.footer__social-list-item
            a.footer__social-link.footer__social-link_theme_ig(href='/change-me' target='_blank' rel='noopener noreferrer')