include ../checkbox/checkbox

mixin checkbox-list-expandable(options)
  - const { id, label, isExpanded, items = [] } = options || {};

  - const blockModifiers = [];

  if isExpanded
    - blockModifiers.push('expanded');

  - const f = require('../../utils/functions');
  - const js = 'js';

  div(id=id class=f.bem({
    b: 'checkbox-list-expandable',
    m: blockModifiers,
    js
  }))
    h3(class=f.bem({
      b: 'checkbox-list-expandable',
      e: 'toggle', 
      js
    }))
      span.checkbox-list-expandable__label= label
      button.checkbox-list-expandable__arrow.material-icons= 'keyboard_arrow_down'
    ul.checkbox-list-expandable__list
      each item, index in items
        li.checkbox-list-expandable__item
          +checkbox({
            id: `${id}-${item.name}`,
            label: item.label,
            isChecked: item.isChecked
          })