include ../checkbox/checkbox

mixin checkbox-list-expandable(options)
  - const { id, label, isExpanded, items = [] } = options || {};

  - const blockModifiers = isExpanded ? ['expanded'] : [];

  - const f = require('../../utils/functions');
  - const b = 'checkbox-list-expandable';
  - const js = 'js';

  div(id=id class=f.bem({ b, m: blockModifiers, js }))
    h3(class=f.bem({ b, e: 'toggle', js }))
      span.checkbox-list-expandable__label= label
      button.checkbox-list-expandable__arrow.material-icons(type='button')= 'keyboard_arrow_down'
    ul.checkbox-list-expandable__list
      each item, index in items
        li.checkbox-list-expandable__item
          +checkbox(item)