include ../label/label
include ../dropdown/dropdown
include ../datepicker-date-range/datepicker-date-range

mixin room-book(options)
  - var { roomNumber, pricePerDay, discount, fee, feature } = options || {}
  - var f = require('../../utils/functions');
  form.room-book
    header.room-book__header
      .room-book__number
        span.room-book__number-sign= '№'
        span.room-book__number-value= roomNumber
        if feature
          h3.room-book__number-feature= feature
      .room-book__price-per-day
        span.room-book__cost!= f.formatCurrency({value: pricePerDay})
        |&nbsp;
        span.room-book__date-unit= 'в сутки'

    .room-book__datepicker-date-range-group
      +datepicker-date-range({
        id: 'room-book__check-in-out',
        from: '19.08.2019',
        to: '23.08.2019'
      })

    .room-book__guests-dropdown-group
      .room-book__guests-dropdown-label
        +label({ label: 'Гости' })
      .room-book__guests-dropdown
        +dropdown({
          id: 'room-book__from-date',
          value: '3 гостя',
          rows: [
            {count: 2, text: 'взрослые', name: 'adult'},
            {count: 1, text: 'дети', name: 'kids'},
            {count: 0, text: 'младенцы', name: 'baby'}
          ]
        })

    - const totalBruto = pricePerDay * 4
    - const totalNetto = totalBruto - discount + fee

    .room-book__result-grid
      .room-book__result-grid-cell!= `${f.formatCurrency({value: pricePerDay})} x 4 суток`
      .room-book__result-grid-cell.room-book__result-grid-cell--with-info-icon
      .room-book__result-grid-cell.room-book__result-grid-cell--with-sum!= f.formatCurrency({value: totalBruto})

      .room-book__result-grid-cell!= `Сбор за услуги: скидка ${f.formatCurrency({value: discount})}`
      .room-book__result-grid-cell.room-book__result-grid-cell--with-info-icon
        span(title='change me').room-book__info-icon.material-icons= 'info_outline'
      .room-book__result-grid-cell.room-book__result-grid-cell--with-sum= '0₽'

      .room-book__result-grid-cell= 'Сбор за дополнительные услуги'
      .room-book__result-grid-cell.room-book__result-grid-cell--with-info-icon
        i(title='change me').room-book__info-icon.material-icons= 'info_outline'
      .room-book__result-grid-cell.room-book__result-grid-cell--with-sum!= f.formatCurrency({value: fee})

    p.room-book__total-row
      span.room-book__total-header= 'Итого'
      span.room-book__total-line
      span.room-book__total-sum!= f.formatCurrency({value: totalNetto})

    footer.room-book__submit-button-group
      +button({
        theme: 'default',
        caption: 'Забронировать',
        withArrow: true,
        isFluid: true,
      })