include ../label/label
include ../dropdown/dropdown
include ../datepicker-range/datepicker-range

mixin room-book(options)
  - const { roomNumber, pricePerDay, discount, fee, feature, method='POST', action='/' } = options || {};

  - const formatCurrency = require('../../utils/helpers').formatCurrency;

  form.room-book(method=method action=action)
    header.room-book__header
      .room-book__number
        span.room-book__number-sign= '№'
        span.room-book__number-value= roomNumber
        if feature
          h3.room-book__number-feature= feature
      .room-book__price-per-day
        span.room-book__cost!= formatCurrency({value: pricePerDay})
        |&nbsp;
        span.room-book__date-unit= 'в сутки'

    .room-book__datepicker-range
      +datepicker-range({
        id: 'room-book-datepicker',
      })

    .room-book__guests-dropdown-group
      .room-book__label
        +label({ label: 'Гости', _for: 'room-book-guests' })
      .room-book__dropdown
        +dropdown({
          id: 'room-book-guests',
          type: 'guest',
          rows: [
            {count: 2, text: 'взрослые'},
            {count: 1, text: 'дети'},
            {count: 0, text: 'младенцы'},
          ],
        })

    - const totalBruto = pricePerDay * 4;
    - const totalNetto = totalBruto - discount + fee;

    .room-book__result-grid
      .room-book__result-grid-cell!= `${formatCurrency({value: pricePerDay})} x 4 суток`
      .room-book__result-grid-cell.room-book__result-grid-cell_content_with-info-icon
      .room-book__result-grid-cell.room-book__result-grid-cell_content_with-sum!= formatCurrency({value: totalBruto})

      .room-book__result-grid-cell!= `Сбор за услуги: скидка ${formatCurrency({value: discount})}`
      .room-book__result-grid-cell.room-book__result-grid-cell_content_with-info-icon
        span(title='change me').room-book__info-icon.material-icons= 'info_outline'
      .room-book__result-grid-cell.room-book__result-grid-cell_content_with-sum= '0₽'

      .room-book__result-grid-cell= 'Сбор за дополнительные услуги'
      .room-book__result-grid-cell.room-book__result-grid-cell_content_with-info-icon
        span(title='change me').room-book__info-icon.material-icons= 'info_outline'
      .room-book__result-grid-cell.room-book__result-grid-cell_content_with-sum!= formatCurrency({value: fee})

    p.room-book__total-row
      span.room-book__total-header= 'Итого'
      span.room-book__total-line
      span.room-book__total-sum!= formatCurrency({value: totalNetto})

    footer.room-book__button
      +button({
        theme: 'with-arrow',
        type: 'submit',
        caption: 'Забронировать',
        isFluid: true,
      })