mixin footer-menu-section(options)
  - const blockName = 'footer-menu-section'
  - const { title, menuItems } = options

  section(class=blockName)
    h3(class=[`${blockName}__title`, 'h3'])= title
    ul(class=`${blockName}__ul`)
      each item, _ in menuItems
        li(class=`${blockName}__li`)
          a(class=[`${blockName}__a`, 'body'] href=item.href)= item.text