mixin footer-menu-section(options)
  - const b = 'footer-menu-section'
  - const { title, menuItems } = options

  div(class=b)
    h3(class=[`${b}__title`, 'h3'])= title
    ul(class=`${b}__ul`)
      each item, _ in menuItems
        li(class=`${b}__li`)
          a(class=[`${b}__a`, 'body'] href=item.href)= item.text