include ../../label/label

mixin radio-button(id, name, value, label, checked)
  - const blockName = 'radio-button'
  div(class='radio-button')
    input(
      id=id
      type='radio'
      class=blockName + '__input'
      name=name
      value=value
      checked=checked
    )
    label(
      for=id
      class=blockName + '__label'
    )= label