mixin site-menu(options)
  - const blockName = 'site-menu'
  - const { theme, items } = options || {}

  - let modifiers = [`${blockName}--${theme}`]

  ul(class=blockName class=modifiers)
    each link in items
      li(class=`${blockName}__li`)
        h2(class=`${blockName}__title`)
          a(class=`${blockName}_a` href=link.href)= link.text