mixin site-menu(options)
  - const b = 'site-menu'
  - const { theme, items } = options || {}

  - var blockModifiers = [`${b}--${theme}`]

  ul(class=b class=blockModifiers)
    each link in items
      li(class=`${b}__li`)
        h2(class=`${b}__title`)
          a(class=`${b}_a` href=link.href)= link.text