mixin input-text(id, placeholder, value, options)
  - var blockName = 'input-text'
  - var modifiers = []
  if options && options.withButton
    - modifiers.push(blockName + '--visible')
  if options && options.hovered
    - modifiers.push(blockName + '--hovered')
  div(class=blockName class=modifiers)
    input(
      id=id
      type='text'
      class=blockName + '__input-text'
      placeholder=placeholder
      value=value
    )
    input(
      type='submit'
      class=blockName + '__input-t-submit'
    )